@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap");
* {
  box-sizing: border-box;
  margin: 0px;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}

.logo {
  display: flex;
  justify-content: center;
  margin-top: 22px;
  margin-bottom: 12px;
}
.logo img {
  max-width: 43.7vw;
}

.search {
  display: flex;
  justify-content: center;
  align-items: baseline;
  padding-top: 16px;
  padding-bottom: 16px;
  background: linear-gradient(#cfcfcf, #eaeaea);
}
.search label {
  margin-right: 2vw;
  font-size: 4.27vw;
}
@media screen and (min-width: ) {
  .search label {
    font-size: 3vw;
  }
}
@media screen and (min-width: 993px) {
  .search label {
    font-size: 2vw;
  }
}
.search input {
  border: none;
  width: 35vw;
  height: 5vw;
  font-size: 4.27vw;
  background: none;
}
@media screen and (min-width: 993px) {
  .search input {
    font-size: 2vw;
    width: 15vw;
    height: 3vw;
  }
}
.search input::placeholder {
  color: black;
  font-size: 4.27vw;
}
@media screen and (min-width: ) {
  .search input::placeholder {
    font-size: 3vw;
  }
}
@media screen and (min-width: 993px) {
  .search input::placeholder {
    font-size: 2vw;
    width: 15vw;
  }
}

.under-searchzone {
  padding: 11.5vw 0 15.2vw;
  background: #f6f6f6;
}
@media screen and (min-width: 993px) {
  .under-searchzone {
    padding: 20px 0 30px;
  }
}
.under-searchzone h2 {
  text-align: center;
  margin: 0 16vw 20px;
  font-size: 6vw;
}
@media screen and (min-width: ) {
  .under-searchzone h2 {
    font-size: 5vw;
  }
}
@media screen and (min-width: 993px) {
  .under-searchzone h2 {
    font-size: 4vw;
  }
}
.under-searchzone p {
  text-align: center;
  font-weight: 200;
  font-size: 4.27vw;
  margin: 0 20px 30px;
}
@media screen and (min-width: ) {
  .under-searchzone p {
    font-size: 3vw;
  }
}
@media screen and (min-width: 993px) {
  .under-searchzone p {
    font-size: 2vw;
  }
}
.under-searchzone button {
  display: block;
  margin: auto;
  padding: 4.79vw 5.86vw 4.3vw;
  color: white;
  border: none;
  border-radius: 7vw;
  background: linear-gradient(#e571da, #a05adc);
  font-size: 4vw;
  box-shadow: 0px 5px 5px rgb(207, 207, 207);
}
@media screen and (min-width: ) {
  .under-searchzone button {
    padding: 3.59vw 4.66vw 3.1vw;
    font-size: 1.5vw;
  }
}
@media screen and (min-width: 993px) {
  .under-searchzone button {
    padding: 2.5vw 3.5vw 2vw;
    font-size: 1.2vw;
  }
}

.functioning {
  margin: 0 20px 48px;
}
.functioning h2 {
  margin: 52px 0 30px;
}
.functioning div {
  display: flex;
}

.buttons {
  margin-bottom: 20px;
}
.buttons p {
  display: flex;
  align-items: center;
  margin: 25px 0;
  padding: 5px 10px;
  color: white;
  background-color: #9356DC;
  border-radius: 20px;
  position: relative;
}
.buttons button {
  width: 100%;
  height: 74px;
  margin-left: -15px;
  background: none;
  text-align: left;
  font-weight: 600;
  border: none;
  font-size: 15px;
  border-radius: 20px;
  background: #f6f6f6;
  box-shadow: 0px 5px 10px rgb(186, 186, 186);
}
.buttons button i {
  padding: 0 27px 0 33px;
  font-size: 20px;
  color: #7e7e7e;
}
.buttons:nth-child(4) button {
  background-color: #f5edff;
}
.buttons:nth-child(4) i {
  color: #9356DC;
  padding-right: 25.5px;
  padding-left: 26.5px;
}

/*# sourceMappingURL=style.css.map */
