@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap");
* {
  box-sizing: border-box;
  margin: 0px;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}

@keyframes load {
  0% {
    transform: rotate(0deg);
    visibility: visible;
  }
  100% {
    transform: rotate(720deg);
    visibility: hidden;
  }
}
@keyframes fond {
  0% {
    opacity: 0.7;
    z-index: 1;
    visibility: visible;
  }
  95% {
    opacity: 0.55;
    z-index: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    z-index: none;
    visibility: hidden;
  }
}
@keyframes heart-color {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes slide {
  0% {
    margin-top: 24px;
    opacity: 0;
  }
  100% {
    margin-top: 14px;
    opacity: 1;
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.background-loader {
  position: fixed;
  width: 100%;
  height: 100%;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.7;
  z-index: 1;
  animation: fond 2s linear forwards;
}

.loader {
  border-radius: 50%;
  border-top: 3vw solid #FF79DA;
  border-right: 3vw solid #FF79DA;
  border-bottom: 3vw solid #FF79DA;
  border-left: 3vw solid #9356DC;
  animation: load 2s linear forwards;
  width: 40vw;
  height: 40vw;
}
@media screen and (min-width: 376px) {
  .loader {
    border-top: 1.5vw solid #FF79DA;
    border-right: 1.5vw solid #FF79DA;
    border-bottom: 1.5vw solid #FF79DA;
    border-left: 1.5vw solid #9356DC;
    width: 20vw;
    height: 20vw;
  }
}
@media screen and (min-width: 993px) {
  .loader {
    border-top: 1vw solid #FF79DA;
    border-right: 1vw solid #FF79DA;
    border-bottom: 1vw solid #FF79DA;
    border-left: 1vw solid #9356DC;
  }
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 22px 0 12px 0;
  position: relative;
  background: white;
}

.return {
  position: absolute;
  margin-left: 23px;
  font-size: 20px;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.logo img {
  max-width: 43.7vw;
}
@media screen and (min-width: 376px) {
  .logo img {
    width: 194px;
  }
}
@media screen and (min-width: 993px) {
  .logo img {
    width: 224px;
  }
}

.btn_to_menu {
  display: block;
  margin: auto;
  padding: 4.79vw 5.86vw 4.3vw;
  color: white;
  border: none;
  border-radius: 7vw;
  background: linear-gradient(#FF79DA, #9356DC);
  font-size: 4vw;
  box-shadow: 0px 5px 5px rgb(207, 207, 207);
}
.btn_to_menu:hover {
  cursor: pointer;
  filter: brightness(1.1);
  box-shadow: 0px 5px 5px rgb(100, 100, 100);
}
@media screen and (min-width: 376px) {
  .btn_to_menu {
    padding: 17px 24px;
    font-size: 14px;
  }
}
@media screen and (min-width: 993px) {
  .btn_to_menu {
    padding: 19px 26px;
    font-size: 18;
  }
}

.functioning {
  margin: 0 20px 48px;
}
.functioning h2 {
  margin: 52px 0 30px;
}
.functioning div {
  display: flex;
}

.all_cards {
  flex-direction: column;
}
@media screen and (min-width: 993px) {
  .all_cards {
    flex-direction: row;
    justify-content: space-around;
  }
}

.cards {
  margin-bottom: 20px;
}
@media screen and (min-width: 993px) {
  .cards {
    width: 28%;
  }
}
.cards p {
  margin: 25px 0;
  padding: 5px 10px;
  color: white;
  background-color: #9356DC;
  border-radius: 20px;
  position: relative;
}
.cards .card {
  width: 100%;
  height: 74px;
  margin-left: -15px;
  text-align: left;
  align-items: center;
  font-weight: 600;
  border: none;
  font-size: 15px;
  border-radius: 20px;
  background: #f6f6f6;
  box-shadow: 0px 5px 10px rgb(186, 186, 186);
  color: black;
}
.cards .card i {
  padding: 0 27px 0 33px;
  font-size: 20px;
  color: #7e7e7e;
}
.cards:nth-child(3) .card {
  background-color: #f5edff;
}
.cards:nth-child(3) i {
  color: #9356DC;
}

.search {
  display: flex;
  justify-content: center;
  align-items: baseline;
  padding-top: 16px;
  padding-bottom: 16px;
  background: linear-gradient(#cfcfcf, #eaeaea);
}
.search label {
  margin-right: 2vw;
  font-size: 4.27vw;
}
@media screen and (min-width: 376px) {
  .search label {
    font-size: 20px;
  }
}
@media screen and (min-width: 993px) {
  .search label {
    font-size: 26px;
  }
}
.search input {
  border: none;
  width: 35vw;
  height: 5vw;
  font-size: 4.27vw;
  background: none;
}
@media screen and (min-width: 376px) {
  .search input {
    font-size: 20px;
    width: 145px;
    height: 20px;
  }
}
@media screen and (min-width: 993px) {
  .search input {
    font-size: 26px;
    width: 180px;
    height: 30px;
  }
}
.search input::placeholder {
  color: black;
  font-size: 4.27vw;
}
@media screen and (min-width: 376px) {
  .search input::placeholder {
    font-size: 20px;
    width: 200px;
  }
}
@media screen and (min-width: 993px) {
  .search input::placeholder {
    font-size: 26px;
    width: 180px;
  }
}

.under-searchzone {
  padding: 11.5vw 0 15.2vw;
  background: #f6f6f6;
}
@media screen and (min-width: 376px) {
  .under-searchzone {
    padding: 20px 0 30px;
  }
}
@media screen and (min-width: 993px) {
  .under-searchzone {
    padding: 40px 0 50px;
  }
}
.under-searchzone h2 {
  text-align: center;
  margin: 0 16vw 20px;
  font-size: 6vw;
}
@media screen and (min-width: 376px) {
  .under-searchzone h2 {
    font-size: 22px;
  }
}
@media screen and (min-width: 993px) {
  .under-searchzone h2 {
    font-size: 34px;
  }
}
.under-searchzone p {
  text-align: center;
  font-weight: 200;
  font-size: 4.27vw;
  margin: 0 20px 30px;
}
@media screen and (min-width: 376px) {
  .under-searchzone p {
    font-size: 16px;
  }
}
@media screen and (min-width: 993px) {
  .under-searchzone p {
    font-size: 22px;
  }
}

#menu {
  padding: 58px 20px 64px;
  background: #f6f6f6;
}
#menu h2 {
  margin-bottom: 27px;
}

@media screen and (min-width: 993px) {
  .all-menu {
    display: grid;
    grid-template-columns: 48% 48%;
    justify-content: space-around;
  }
}
.new {
  position: absolute;
  right: 11px;
  top: 13px;
  background: #99e2d0;
  color: #008766;
  padding: 10px 14px;
}

.card-menu {
  margin-bottom: 18px;
  position: relative;
}
.card-menu img {
  border-radius: 15px 15px 0 0;
  width: 100%;
  height: 174px;
  object-fit: cover;
}

.card-description {
  display: flex;
  justify-content: space-between;
  padding: 18px 24px 18px 14px;
  margin-top: -4px;
  border-radius: 0 0 15px 15px;
  box-shadow: 0px 0px 10px rgb(88, 86, 86);
}
.card-description div {
  color: black;
}
.card-description div h4 {
  margin-bottom: 7px;
}
.card-description div p {
  font-weight: 200;
}
.card-description i {
  color: black;
  font-size: 20px;
  height: 20px;
  width: 20px;
}
.card-description i:hover {
  font-weight: 900;
  background: -webkit-linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: heart-color 0.45s linear;
}

footer {
  padding: 26px 25px 27px;
  background: #353535;
}
footer img {
  width: 98px;
  margin-bottom: 23px;
  filter: invert(99%) sepia(1%) saturate(2%) hue-rotate(35deg) brightness(111%) contrast(100%);
}
footer ul {
  padding: 0;
}
@media screen and (min-width: 993px) {
  footer ul {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    text-align: center;
  }
}

.footer-list {
  list-style: none;
  margin-bottom: 10px;
}
.footer-list a {
  color: white;
}
.footer-list a:active {
  color: white;
}

/*# sourceMappingURL=style.css.map */
