button {
    display: block;
    margin: auto;
    border: none;
    color: none;
}

.btn_to_menu {
    padding: 4.79vw 5.86vw 4.3vw;
    color: white;
    border: none;
    border-radius: 7vw;
    background: linear-gradient($color-secondary, $color-primary);
    font-size: 4vw;
    box-shadow: 0px 5px 5px rgb(207, 207, 207);
    &:hover {
        filter: brightness(1.10);
        box-shadow: 0px 5px 5px rgb(100, 100, 100);
    }
    @include tablette-only {
        padding: 17px 24px;
        font-size: 14px;
    } 

    @include laptop-only {
        padding: 19px 26px;
        font-size: 18;
    } 
}