button {
    display: block;
    margin: auto;
    padding: 4.79vw 5.86vw 4.3vw;
    color: white;
    border: none;
    border-radius: 7vw;
    background: linear-gradient(#e571da, #a05adc);
    font-size: 4vw;
    box-shadow: 0px 5px 5px rgb(207, 207, 207);
    @include tablette-only {
        padding: 17px 24px;
        font-size: 14px;
    } 

    @include laptop-only {
        padding: 19px 26px;
        font-size: 18;
    } 
}