.image-menu {
    img{
        width: 100%;
    }
}

.image-menu-special {
    img{
        width: 100%;
        margin-top: -58.4vw;
    }
}

.menu {
    position: relative;
    border-radius: 20px 20px 0 0;
    background: #f6f6f6;
    padding: 34px 12px 83px;
    margin-top: -54px;
    @include tablette-only {
        margin-top: -150px;
    }
    @include laptop-only {
        margin-top: -550px;
    }
}

.top-of-menu {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    h2 {
        font-family: "Shrikhand";
        font-size: 28px;
        margin-left: 6px;
    }
    i {
        margin-right: 26px;
        font-size: 28px;
        &:hover {
            font-weight: 900;
            background: -webkit-linear-gradient($color-primary, $color-secondary);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            animation: heart-color 0.45s linear;
        }
    }
}

.detail {   
    margin-top: 35px;
    h2{
        font-weight: 300;
        font-size: 16px;        
        margin-left: 6px;
    }

}

.menu-detail {
    @include laptop-only {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(32%, 1fr));
        grid-gap: 10px;
    }
}

.trait {
    border-bottom: solid #99E2D0 3px;
    width: 40px;
    margin-left: 6px;
}


.validation__box {
    display: none;
}

.title-menu {
    padding: 15px 0 12px 10px;
}

.cost {
    padding: 15px 0 12px;
}

.detail-menu {
    display: grid;
    grid-template-columns: 85% 15%;
    background: white;
    margin-top: 14px;
    border-radius: 10px;
    animation: slide 1s ease-in-out;
    @include laptop-only {
        min-width: 33%;
    }
    &:hover {
        cursor: pointer;
        grid-template-columns: auto 5% 60px;
        overflow: hidden;

        
        .validation__box {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #99E2D0;
            color: white;
	        animation: slide-left 0.5s linear forwards;
            font-size: 25px;
            i { 
                transform: rotate(180deg);
                animation: rotate 0.5s both;
            }
        }

        .cost {
            animation: slide-left 0.5s linear forwards;
        }
    }

    h3 {
        margin-bottom: 7px;
        font-size: 18px;
    }
    p {
        font-size: 14px;
        font-weight: 300;
    }
}

.cost {
    align-self: flex-end;
    display: flex;
    justify-content: flex-end;
    font-weight: 600;
    margin-right: 10px;
}