/* .loader {
    position: fixed;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.7;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    animation: fond 0.3s linear 3s forwards;
}

.lettre {
    color: $color_secondary;
    font-size: 80px;
    letter-spacing: 15px;
    margin-bottom: 150px;
    animation: flash 1s linear 3s;
}

.lettre {
    &:nth-child(1) {
        animation-delay: 0.1s;
    }
    &:nth-child(2) {
        animation-delay: 0.2s;
    }
    &:nth-child(3) {
        animation-delay: 0.3s;
    }
    &:nth-child(4) {
        animation-delay: 0.4s;
    }
    &:nth-child(5) {
        animation-delay: 0.5s;
    }
    &:nth-child(6) {
        animation-delay: 0.6s;
    }
    &:nth-child(7) {
        animation-delay: 0.7s;
    }
    &:nth-child(8) {
        animation-delay: 0.8s;
    }
    &:nth-child(9) {
        animation-delay: 0.9s;
    }
    &:nth-child(10) {
        animation-delay: 0.10s;
    }

} */

.background-loader {
    position: fixed;
    width: 100%;
    height: 100%;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.7;
    z-index: 1;
    animation: fond 2s linear forwards;
}

.loader {
    border-radius: 50%;
    border-top: 3vw solid $color_secondary;
    border-right: 3vw solid $color_secondary;
    border-bottom: 3vw solid $color_secondary;
    border-left: 3vw solid $color_primary;
    animation: load 2s linear forwards;
    width: 40vw;
    height: 40vw;
    @include tablette-only {
        border-top: 1.5vw solid $color_secondary;
        border-right: 1.5vw solid $color_secondary;
        border-bottom: 1.5vw solid $color_secondary;
        border-left: 1.5vw solid $color_primary;
        width: 20vw;
        height: 20vw;
    }
    @include laptop-only {
        border-top: 1vw solid $color_secondary;
        border-right: 1vw solid $color_secondary;
        border-bottom: 1vw solid $color_secondary;
        border-left: 1vw solid $color_primary;
    }
}