footer {
    padding: 26px 25px 27px;
    background: #353535;
    img {
        width: 98px;
        margin-bottom: 23px;
        filter: invert(99%) sepia(1%) saturate(2%) hue-rotate(35deg) brightness(111%) contrast(100%);
    }
    ul {
        padding: 0;
        @include laptop-only {
            display: grid;
            grid-template-columns: 25% 25% 25% 25%;
            text-align: center;
        }
    }
}


.footer-list {
    list-style: none;
    margin-bottom: 10px;
    a {
        color: white;
        &:active {
            color: white;
        }
    }
}

.fa-utensils {
    margin-right: 12px;
    font-size: 12px;
}

.fa-handshake-angle {
    margin-right: 10px;
    font-size: 10px;
}