header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 22px 0 12px 0;
    position: relative;
    background: white;
}

.return {
    position: absolute;
    left: 23px;
    font-size: 20px;
    color: black;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    img {
        max-width: 43.7vw;
        @include tablette-only {
            width: 194px;
        }
        @include laptop-only {
            width: 224px;
        }
    }
}