header {

    display: flex;
    align-items: center;
    padding: 22px 0 12px 0;

    i {
        position: absolute;
        margin-left: 23px;
        font-size: 20px;
    }
    
}

.logo {
        display: block;
        margin-left: auto;
        margin-right: auto;
    img {
        width: 164px;
        @include tablette-only {
            width: 194px;
        }
        @include laptop-only {
            width: 224px;
        }
    }
}