$color_primary : #9356DC;
$color_secondary : #FF79DA ;
$color_tertiary : #99E2D0;

$breakpoints: (
    tablette: 375px

);

@mixin tablette-only {
    @media screen and (min-width: ($breakpoints, tablette)){
        @content;
    }
}


.logo {
    display: flex;
    justify-content: center;
    margin-top: 22px;
    margin-bottom: 12px;
    img {
        max-width: 43.7vw;
    }
}

.search {
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding-top: 16px;
    padding-bottom: 16px;
    background: linear-gradient(#cfcfcf, #eaeaea);

    label {
        margin-right: 18px;
        font-size: 4.27vw;
    }

    input {
        border: none;
        width: 35vw;
        height: 5vw;
        font-size: 4.27vw;
        background: none;
        &::placeholder {
            color: black;
            font-size: 4.27vw;    
        }
    }

}